{% if devBlog %}
<link rel="stylesheet" href="/static/css/blog.css" />
<section class="blog">
  <div class="highlighted-posts">
    <!-- First item -->
    <div class="item first">
      <div class="item-img first">
        <img
          src="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9"
          class="thumb first"
          alt=""
        />
        <div class="encart">Loutre</div>
      </div>
      <div class="preview">
        <small>12 Déc. 2022 - Horsty</small>
        <h3>Title de l'article</h3>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam animi facere aliquid
          fuga corrupti qui molestiae alias magnam officia!
        </p>
        <button type="button">Lire l'article<img src="/static/img/arrow.png" alt="" /></button>
      </div>
    </div>
    <!-- Second item -->
    <div class="item second">
      <div class="item-img">
        <img
          src="http://admin.dev.uhue.fr/assets/5c4b48a7-d82d-4bb1-8b9c-08b4485adcc7"
          class="thumb"
          alt=""
        />
        <div class="encart">Loutre</div>
      </div>
      <div class="preview">
        <small>12 Déc. 2022 - Horsty</small>
        <h3>Title de l'article</h3>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam animi facere aliquid
          fuga corrupti qui molestiae alias magnam officia!
        </p>
        <button type="button">Lire l'article<img src="/static/img/arrow.png" alt="" /></button>
      </div>
    </div>
    <!-- Third item -->
    <div class="item third">
      <header></header>
      <div class="item-img">
        <img
          src="http://admin.dev.uhue.fr/assets/0e3db69d-cada-4f13-ab65-72d8320975ad"
          class="thumb"
          alt=""
        />
        <div class="encart">Loutre</div>
      </div>
      <div class="preview">
        <small>12 Déc. 2022 - Horsty</small>
        <h3>Title de l'article</h3>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam animi facere aliquid
          fuga corrupti qui molestiae alias magnam officia!
        </p>
        <button type="button">Lire l'article<img src="/static/img/arrow.png" alt="" /></button>
      </div>
    </div>
  </div>
  <!-- <main>{{ content | safe }}</main> -->
</section>
{% endif %}
