<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or site.title }}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/img/favicon.ico" />
  </head>
  <body>
    <section class="h-screen flex flex-col">
      {% include "./partials/navbar.html" %}
      <div class="flex flex-1 flex-col overflow-auto">
        <div class="flex-1">{{ content | safe }}</div>
        {% include "./partials/footer.html" %}
      </div>
    </section>
  </body>
</html>
