<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or site.title }}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/img/favicon.ico" />
  </head>
  <body>
    <!-- <main class="container h-screen flex flex-col"> -->
    <main class="container">
      {% include "./partials/navbar.html" %} {{ content | safe }} 
      {% include "./partials/footer.html" %}
    </main>

    <script>
      var menuList = document.getElementById("menuList");

      menuList.style.maxHeight = "0px";

      function togglemenu() {
        if (menuList.style.maxHeight == "0px") {
          menuList.style.maxHeight = "130px";
        } else {
          menuList.style.maxHeight = "0px";
        }
      }
    </script>
  </body>
</html>
