---
layout: blog
permalink: "universes/"
title: Mes Univers
---

<section class="mt-15">
  {% if universes %} {% for item in universes %} {% set universe = item %}
  <article class="my-8">
    <h2 class="mb-2 text-3xl font-bold text-gray-900">
      <a href="{{ universe.url | url }}">
        {% if universe.title %} {{ universe.title }} {% else %} Untitled {% endif %}
      </a>
    </h2>
    <p class="mb-3 text-base leading-6 text-gray-500">
      <time>
        {% if universe.publishedAt %} {{ universe.publishedAt | readableDate }} {% else %} {{ date
        }} {% endif %} by
        <a
          >{% if universe.author %} {{ universe.author }} {% else %} {{ site.author }} {% endif
          %}</a
        >
      </time>
    </p>
    {% if universe.text %}
    <p class="mb-3 text-lg text-gray-500">{{ universe.text.substring(0, 200) }}</p>
    {% endif %}

    <p>
      <a href="{{ universe.url | url }}" class="text-lg font-bold text-indigo-500"> Read more → </a>
    </p>
  </article>
  {% endfor %} {% endif %}
</section>
