<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Services</title>
    </head>
<body>
    <header>
      <a href="{{ '/' | url }}" class="link--home">My Blog</a>
      <a href="{{ '/About' | url }}" class="link--about">About</a>
    </header>
    <h1>Services</h1>
    <ul>
        {%- for service in collections.service -%}
            <li><a href="{{ service.url | url }}">{{ service.data.title }}</a></li>
        {%- endfor -%}
    </ul>
    <footer>&copy; My Blog</footer>
  </body>
</html>