---
layout: blog
permalink: "blog/"
title: Blog
---

<section class="mt-15">
  {% if posts %} {% for item in posts %} {% set post = item %}
  <article class="my-8">
    <h2 class="mb-2 text-3xl font-bold text-gray-900">
      <a href="{{ post.url | url }}">
        {% if post.title %} {{ post.title }} {% else %} Untitled {% endif %}
      </a>
    </h2>
    <p class="mb-3 text-base leading-6 text-gray-500">
      <time>
        {% if post.date_created %} {{ post.date_created | readableDate }} {% else %} {{ date }} {%
        endif %} by
        <a>{% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %}</a>
      </time>
    </p>
    {% if post.text %}
    <p class="mb-3 text-lg text-gray-500">{{ post.text.substring(0, 200) | safe }}</p>
    {% endif %}

    <p>
      <a href="posts/{{ post.title | slugify | url }}" class="text-lg font-bold text-indigo-500">
        Read more →
      </a>
    </p>
  </article>
  {% endfor %} {% endif %}
</section>
