---
pagination:
  data: posts
  size: 1
  alias: myPost
permalink: "blog/posts/{{ myPost.title | slugify  }}/index.html"
layout: posts
commentsClosed: false
eleventyComputed:
  publishedAt: "{{ myPost.date_created }}"
  author: "{{ site.author }}"
---

<h1>{{ myPost.title }}</h1>
<article>{{ myPost.text | safe }}</article>

{% if commentsClosed != true %} {% include "src/_includes/commentForm.html" -%} {% else %}
<div class="footnote">
  <p>
    comments on this page are now closed. Perhaps express your opinions about this
    <a
      href="https://twitter.com/intent/tweet?text=I%20need%20to%20tell%20the%20world%20about%20this!&url={{ init.rootURL }}{{ page.url }}"
      >on twitter</a
    >
    instead?
  </p>
</div>
{% endif %}

<div class="comments">{% include "comments.html" -%}</div>
