---
pagination:
  data: services
  size: 1
  alias: service
permalink: "services/{{ service.attributes.slug }}.html"
---

<h1>
  {{ service.attributes.title }}
</h1>

<article>
  {{ service.attributes.text }}
</article>