
button {
  transition: width 0.5s;
}
button:hover img {
  display: block;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uhueColumn::before {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}
