@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --gray: #e3ecf4;
  --blue: #0034ff;
  --blue-light: #0af3f4;
}

@font-face {
  font-family: regularFont;
  src: url("fonts/montserrat.regular.ttf");
}
@font-face {
  font-family: boldFont;
  src: url("css/fonts/montserrat.bold.ttf");
}

/*Your Custom CSS Goes here*/
h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

* {
  @apply m-0 p-0 box-border;
}

a {
  @apply no-underline;
}
li {
  @apply list-none;
}

/* Navbar */
.navLink {
  @apply text-white md:text-uhue-indigo px-4 p-2;
}
.underlineNavLink {
  @apply bg-left-bottom bg-gradient-to-r from-white to-white md:from-uhue-indigo md:to-uhue-indigo 
  bg-[length:0%_2px] bg-no-repeat transition-all duration-500 ease-out;
}

.navMenu {
  @apply gap-[1em] md:mt-0 py-4 px-2 right-0 left-0 text-center text-xl 
  hidden absolute bg-uhue-dark md:bg-white text-white md:text-uhue-indigo
  md:relative md:flex;
}
.uhueContainer {
  @apply px-4 container flex flex-1 flex-col items-center;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
