---
layout: blog
permalink: "my-garden/"
title: My Garden
---

<section class="mt-15">
  {% if posts %} {% for item in posts %} {% set posts = item.attributes %}
  <article class="my-8">
    <h2 class="font-bold text-3xl text-gray-900 mb-2">
      <a href="{{ post.url | url }}">
        {% if posts.title %} {{ posts.title }} {% else %} Untitled {% endif %}
      </a>
    </h2>
    <p class="text-base leading-6 text-gray-500 mb-3">
      <time>
        {% if posts.publishedAt %} {{ posts.publishedAt | readableDate }} {% else %} {{ date }} {%
        endif %} by
        <a>{% if posts.author %} {{ posts.author }} {% else %} {{ site.author }} {% endif %}</a>
      </time>
    </p>
    {% if posts.text %}
    <p class="text-lg text-gray-500 mb-3">{{ posts.text.substring(0, 200) | markdown | safe }}</p>
    {% endif %}

    <p>
      <a href="posts/{{ posts.postId | url }}" class="text-indigo-500 font-bold text-lg">
        Read more →
      </a>
    </p>
  </article>
  {% endfor %} {% endif %}
</section>
