<!-- import style card-3.css -->

<link rel="stylesheet" href="/static/css/actualities.css" />

<div class="band">
  <div class="item-1">
    <a href="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9" class="card">
      <!-- <img
        src="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9"
        class="thumb"
        alt=""
      /> -->
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9);
        "
      ></div>
      <article>
        <h1>International Artist Feature: Malaysia</h1>
        <span>Mary Winkler</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="http://admin.dev.uhue.fr/assets/8c352dea-9621-4c38-8a73-0bd22688c0e1" class="card">
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/8c352dea-9621-4c38-8a73-0bd22688c0e1);
        "
      ></div>
      <article>
        <h1>How to Conduct Remote Usability Testing</h1>
        <span>Harry Brignull</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9" class="card">
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/8c352dea-9621-4c38-8a73-0bd22688c0e1);
        "
      ></div>
      <article>
        <h1>Created by You, July Edition</h1>
        <p>
          Welcome to our monthly feature of fantastic tutorial results created by you, the Envato
          Tuts+ community!
        </p>
        <span>Melody Nieves</span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9" class="card">
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/8c352dea-9621-4c38-8a73-0bd22688c0e1);
        "
      ></div>
      <article>
        <h1>How to Code a Scrolling “Alien Lander” Website</h1>
        <p>
          We’ll be putting things together so that as you scroll down from the top of the page
          you’ll see an “Alien Lander” making its way to touch down.
        </p>
        <span>Kezz Bracey</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9" class="card">
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9);
        "
      ></div>
      <article>
        <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
        <span>Rose</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9" class="card">
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9);
        "
      ></div>
      <article>
        <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>

        <span>Marie Gardiner</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9" class="card">
      <div
        class="thumb"
        style="
          background-image: url(http://admin.dev.uhue.fr/assets/3477004b-3c3c-4f22-969c-74f800bf2db9);
        "
      ></div>
      <article>
        <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
        <span>Kendra Schaefer</span>
      </article>
    </a>
  </div>
</div>
